@page "/perfil/{id}"
@inject IHttpClientFactory _clientFactory
@inject Services.AppData appdata
<h3>Perfil</h3>
@if (string.IsNullOrWhiteSpace(errorString) == false)
{
    <div class="h2">@errorString</div>
}
else if (deputado is null)
{
    <div class="h4">Loading...</div>
    <img src="/imagens/basicloader.gif" />
}
else
{
    if (appdata.Valorliquido04 == 0 && appdata.Valorliquido03 == 0 && Id != "")
    {
        <meta http-equiv="refresh" content="0; url='https://localhost:44392/despesas/@(Id)'" />
    }
    else { }

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Foto</th>
            <th>Descrição</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                <figure>
                    <img src="https://www.camara.leg.br/internet/deputado/bandep/@(Id).jpg" />
                </figure>
            </th>
            <th>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nome: @deputado.Dados.NomeCivil</th>
                            <th>Email: @deputado.Dados.ultimoStatus.email</th>
                            <th>Escolaridade: @deputado.Dados.escolaridade</th>
                            <th>Sexo: @deputado.Dados.sexo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Partido: @deputado.Dados.ultimoStatus.siglaPartido</th>
                            <th>Nascimento: @deputado.Dados.dataNascimento</th>
                            <th>
                                Rede Social:
                                <ul>
                                    @foreach (var rede in @deputado.Dados.redeSocial)
                                    {
                                        <li>@rede</li>

                                    }
                                </ul>
                            </th>
                            <th>
                                <h5>Ultimas despesas</h5>
                                <table class="table table-striped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>03/2019</th>
                                            <th>04/2019</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>@appdata.Valorliquido03.ToString("C")</td>

                                            <td>@appdata.Valorliquido04.ToString("C")</td>

                                        </tr>

                                    </tbody>
                                </table>
                            </th>
                        </tr>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th> <a href="/" @onclick="zeravalor">Voltar</a></th>
                        </tr>
                    </tbody>
                </table>
                    
            </th>   
            </tr>
    </tbody>
    </table>

   
}
@code {
    [Parameter]
    public string Id { get; set; }
    Perfildep deputado;
    string errorString;
    int currentCount;
    string urlfoto;
    public void zeravalor()
    {
        appdata.Valorliquido03 = 0;
        appdata.Valorliquido04 = 0;
        Id = "";
    }
    protected override async Task OnInitializedAsync()
    {

        var request = new HttpRequestMessage(HttpMethod.Get,
    "https://dadosabertos.camara.leg.br/api/v2/deputados/" + Convert.ToInt32(Id));
        var client = _clientFactory.CreateClient();

        HttpResponseMessage response = await client.SendAsync(request);

        if (response.IsSuccessStatusCode)
        {
            deputado = await response.Content.ReadFromJsonAsync<Perfildep>();
            errorString = null;
        }
        else
        {
            errorString = $"erro :{response.ReasonPhrase }";
        }
        if (String.IsNullOrEmpty(deputado.Dados.ultimoStatus.UrlFoto))
        { }
        else
        {
            urlfoto = deputado.Dados.ultimoStatus.UrlFoto;
        }
    }
}
